:80 {
    handle_path /tutor* {
        reverse_proxy localhost:8001
    }

    handle /trip/* {
        uri strip_prefix /trip
        root * /var/www/nagoya-travel
        file_server
    }

    handle /cantalk/ws* {
        reverse_proxy 192.168.1.59:8765
    }

    handle_path /cantalk* {
        root * /var/www/cantalk
        file_server
    }

    respond "Caddy is working on catcatz.cc"
}
